
*.m4

*.0

*.1

autom4te.cache/requests

build-aux/ar-lib

build-aux/compile
/autom4te.cache
/build-aux
/config.h
/config.h.in
/config.status
/configure
/libtool
/Makefile
/Makefile.in
/stamp-h1

config.log

*.Po

*.Plo

*.a

*.la

*.lai

*.o

tests/.libs/check_taladoresogts

tests/check_taladoresogts.log

tests/test-suite.log

cat
